* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 183, 200);
}

h1 {
    font-size: 98px;
    padding: 5px;
    font-family: 'Poppins';
    color: rgb(74, 50, 11)
}

.span-e {
    color: red;
}

.span-t {
    color: rgb(47, 255, 106);
}

.span-c {
    color: rgb(73, 146, 248);
   
}

.span-h {
    color: yellow;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(103, 9, 9);
    border-radius: 10px;
    background-color: rgb(135, 13, 13);
}

.input-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 700px;
    width: 300px;
    border-right: 1px solid grey;
}

.mode-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 700px;
    width: 300px;
    border-left: 1px solid grey;
}

input {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
}

button,
.current-input,
.current-color-mode {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    color: rgb(35, 36, 39);
    text-align: center;
    text-transform: lowercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 1px solid grey;
}

button:hover {
    transform: scale(1.05);
    color: rgb(45, 56, 123);
    border: 1px solid yellow;
}

.current-input,
.current-color-mode {
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(103, 9, 9);
    background-color: rgb(173, 8, 8);
    color: rgb(244, 242, 242);
    font-weight: 700;
}

/* grid */
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    background-color: rgb(244, 242, 242);
}

.new-grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
}

.new-grid {
    background-color: rgb(244, 242, 242);
    border: 1px solid rgb(187, 187, 187);
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(35, 36, 39);
    color: white;
    width: 100%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.github-icon {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.github-icon:hover {
    color: rgb(129, 129, 129);
}